@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@plugin "daisyui";

/*
    # we are using a bright color as primary color
    # dark color for secondary color
    # accent is a vibrant greenish color
 */
 
@plugin "daisyui/theme" {
  name: myTheme;
  default: true;
  color-scheme: dark;

  --color-primary: #007f5f;
  --color-secondary: #023047;
  --color-accent: #4c956c;
  --color-success: #aed581;
  --color-warning: #ffca28;
  --color-primary-content: #e0f2f1;
  --color-secondary-content: #a5a5a5;

  --color-base-100: #0d1b2a;
  --color-base-200: #263238;
  --color-base-300: #37474f;

  --bc: #1f2937;
}
.ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
